<!--- Footer -->
<footer>
  <div class="container-fluid">
    <div class="row footer-info">
      <div class="col-md-6">
        <hr class="footer-hr" />
        <h3 class="text-center">
          explorer<img src="/img/logo1.png" alt="" />
        </h3>
        <hr class="footer-hr" />
        <div class="footer-detail text-justify">
          <p>Call : 555-555</p>
          <p>
            Mail :
            <a href="mailto:ardhiyan.hakim@mhs.unsoed.ac.id">explorer@gmail.com</a>
          </p>
          <p>
            Address : Pasar Jaya Lenteng Agung Lantai Dasar Nomor 212 Raya
            Kecamatan Jagakarsa, Jl. Raya Jagakarsa No.211, RT.3/RW.1,
            Jagakarsa, Kec. Jagakarsa, DKI Jakarta, Daerah Khusus Ibukota
            Jakarta 12630
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <hr class="footer-hr" />
        <h3 class="text-center">Active Time</h3>
        <hr class="footer-hr" />
        <div class="footer-detail">
          <p>Monday To Friday : 9am - 5am</p>
          <p>Saturday : 9am - 3am</p>
          <p>Sunday : closed</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center footer-closing">
    &copy; explorer. All Rights Reserved.
  </div>
</footer>