<!-- Skip To Content -->
<div class="skip-to-content">
  <a href="#content" class="skip-button">Menuju Ke Konten</a>
</div>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a href="/">
      <h3 class="logo">
        explorer<img src="/img/logo1.png" alt="Logo of Explorer" />
      </h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#class-section" class="nav-link">Class</a>
        </li>
        <li class="nav-item">
          <a href="#about-us" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link sign-up-btn">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>