<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="icon" href="/img/logo-app.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#4C0082"/>
  <meta name="dicoding:email" content="ardhiyan.hakim@mhs.unsoed.ac.id">

  <title><%= title %> </title>
  <%- include('../includes/auth/style') %>
</head>

<body>
  
  <div class="container">
    <%- body %>
  </div>
  <%- include('../includes/auth/script') %>
</body>