<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="icon" href="/img/logo-app.png">
  <title><%= title %> </title>
  <%- include('../includes/auth/style') %>
</head>

<body>
  
  <div class="container">
    <%- body %>
  </div>
  <%- include('../includes/auth/script') %>
</body>