<!--- Welcome Section -->
<div class="container-fluid padding" id="class-section">
  <div class="row welcome text-center col-12">
    <div class="col-12">
      <h2 class="display-4"><q>Coding Like Playing</q></h2>
    </div>
    <div class="welcome-box">
      <p class="lead col-12 text-center">
        We truly interested to be the part of journey being a Software
        Developer ~!
      </p>
    </div>
  </div>
</div>

<!--- Three Column Section -->
<div class="container-fluid">
  <div class="row text-center padding">
    <div class="col-sm-6 col-md-4 selection-item">
      <i class="fab fa-html5"></i>
      <h3>HTML5</h3>
      <p>The skeleton of everything that you see in your browser.</p>
      <a href="/content/html1" type="button" class="btn btn-outline-primary btn-md">Learn HTML5</a>
    </div>
    <div class="col-sm-6 col-md-4 selection-item">
      <i class="fab fa-css3"></i>
      <h3>CSS</h3>
      <p>Decoration, color, design and layouting of every component.</p>
      <a href="/content/css1" type="button" class="btn btn-outline-primary btn-md">Learn CSS3</a>
    </div>
    <div class="col-sm-12 col-md-4 selection-item">
      <i class="fab fa-js"></i>
      <h3>JAVASCRIPT</h3>
      <p>What actually happened behind the interactive component.</p>
      <a href="/content/js1" type="button" class="btn btn-outline-primary btn-md">Learn
        Javascript</a>
    </div>
  </div>
  <hr class="my-4" />
</div>

<!--- Two Column Section -->
<div class="container-fluid">
  <div class="row padding">
    <div class="col-lg-6">
      <h2 class="title-box">What Make Us Different</h2>
      <p class="text-justify text-box">
        We truly appreciate for every people that join our community, as
        doing it solo can be hard, it would easier to do this together.
        <br /><br />
        So we are very open to every question that would be asked through
        our account social media and guess what ? You just got your
        PRIVATE MENTOR.
      </p>
    </div>
    <div class="col-lg-6">
      <img src="/img/desk.jpg" alt="image person on desk" class="img-fluid" />
    </div>
  </div>
  <hr class="my-4" />
</div>

<!--- Meet the team -->
<div class="container-fluid padding">
  <div class="welcome text-center">
    <div class="col-12">
      <h2 class="display-4" id="about-us">About Us</h2>
      <hr />
    </div>
  </div>
</div>

<!--- Cards -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="/img/team1.jpg" alt="..." class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Ardhiyan Abdul Hakim</h3>
          <p class="card-text">
            Student in University of Jenderal Soedirman,<br />Bachelor
            Degree of Electrical Engineering
          </p>
          <hr />
          <div class="row text-center">
            <div class="col-12 social">
              <a href="https://www.facebook.com/ardhiyan.abdul/" target="_blank"><i
                  class="fab fa-facebook card-profile"></i></a>
              <a href="https://twitter.com/AnonymBeing" target="_blank"><i class="fab fa-twitter card-profile"></i></a>
              <a href="https://www.instagram.com/yaaaaaaaaaannnnn/" target="_blank"><i
                  class="fab fa-instagram card-profile"></i></a>
              <a href="https://www.linkedin.com/in/ardhiyanah/ " target="_blank"><i
                  class="fab fa-linkedin card-profile"></i></a>
              <a href="https://github.com/ardhiyan-hakim" target="_blank"><i class="fab fa-github card-profile"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="/img/team2.jpg" alt="..." class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Rizqi Fauzul Fitria</h3>
          <p class="card-text">
            Student in University of Diponegoro,<br />Bachelor Degree of
            Industrial Engineering
          </p>
          <hr />
          <div class="row text-center">
            <div class="col-12 social">
              <a href="#" target="_blank"><i class="fab fa-facebook card-profile"></i></a>
              <a href="#" target="_blank"><i class="fab fa-twitter card-profile"></i></a>
              <a href="https://www.instagram.com/rizqifauzul_/" target="_blank"><i
                  class="fab fa-instagram card-profile"></i></a>
              <a href="https://www.linkedin.com/in/rizqifauzulfitria/" target="_blank"><i
                  class="fab fa-linkedin card-profile"></i></a>
              <a href="#" target="_blank"><i class="fab fa-github card-profile"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>

<!--- Two Column Section -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6" id="iframe-home">
      <iframe class="home" height="100%" src="https://www.youtube.com/embed/hn5Hlusj6Nc" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
      <h2 class="title-box">Our Goals</h2>
      <p class="text-justify text-box">
        What we want to achieve is not only that you know and understand,
        but also make a workload that way much easier to be handle for
        yourself and your co-workers.
        <br /><br />
        And so, we are not only giving you course to learn things, but
        also guiding you through your problems, bugs, shortcuts and many
        else. And here is the example of what are we trying to achieve.
      </p>
    </div>
    <hr />
  </div>
</div>