<div class="upper" id="content">
  <div class="container-fluid">
    <div class="row text-center padding">
      <div class="col-md-12 selection-item item-content">
        <h1 class="text-center">Praktik Javascript</h1>
        <div class="main-content card text-justify">
          <p>
            Karena kita sudah mempelajari tentang bagaimana menuliskan
            kode javascript pada file HTML, maka kita bisa mulai
            mempelajari apa saja yang akan kita gunakan sebagai basis
            dalam pembuatan project dalam skala menengah hingga besar.
            Tunggu apa lagi? Yuk kita mulai belajar javascript dengan
            menonton video di bawah.
          </p>
          <h2 class="text-center">
            Javascript Course with
            <a href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA">Traversy Media</a>
          </h2>
          <figure>
            <iframe class="content" height="100%" src="https://www.youtube.com/embed/hdI2bqOjy3c"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </figure>
          <p>
            Brad Traversy telah menjadi programmer selama sekitar 12 tahun
            dan mengajar selama hampir 5 tahun. Dia adalah pemilik
            Traversy Media yang merupakan saluran YouTube pengembangan web
            yang sukses dan berspesialisasi dalam segala hal mulai dari
            HTML5 hingga kerangka kerja ujung depan seperti Angular serta
            teknologi sisi server seperti Node.js, PHP, dan Python. Brad
            telah menguasai menjelaskan topik yang sangat kompleks dengan
            cara yang sederhana yang sangat dimengerti.
          </p>

          <h2 class="text-center">
            Javascript Course with
            <a href="https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ">freeCodeCamp.org</a>
          </h2>
          <figure>
            <iframe class="content" height="100%" src="https://www.youtube.com/embed/PkZNo7MFNFg"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </figure>
          <p>
            freeCodeCamp adalah organisasi nirlaba yang terdiri dari
            platform web pembelajaran interaktif, forum komunitas online,
            ruang obrolan, publikasi online, dan organisasi lokal yang
            bermaksud membuat pembelajaran pengembangan web dapat diakses
            oleh siapa saja.
          </p>

          <div class="tips">
            <h2>Tips & Trik</h2>
            <p>
              Selama pembelajaran javascript, ada beberapa hal yang perlu
              diatur jika anda menggunakan OS Windows yakni environment
              variable yang perlu anda deklarasikan jika anda akan
              menginstal node js atau yang lainnya. Penyelesaian terhadap
              masalah tersebut dan anda temukan
              <a href="https://sulhi.id/setting-path-environment-variable-di-windows-10/">disini</a>.
            </p>
            <p>
              Tidak lupa juga, akan ada banyak bug yang terjadi selama
              proses pembelajaran dan pengembangan. Anda bisa mencari
              solusi terhadap bug yang anda temukan dengan mencarinya di
              google dengan keyword dari pesan error yang ditampilkan.
              Kamu juga bisa bertanya langsung dengan orang-orang lain
              lewat forum seperti
              <a href="https://stackoverflow.com/">Stack Overflow</a> dan
              beragam alternatif lain yang dapat anda baca lebih lanjut
              <a
                href="https://medium.com/@techloop.io/tired-of-stack-overflow-and-github-here-are-the-alternatives-c970d64a0bd3">disini</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 selection-item item-number">
        <ul class="no-bullets">
          <li>
            <a href="/content/js1" class="btn btn-light">1</a>
          </li>
          <li>
            <a href="/content/js2" class="btn btn-light">2</a>
          </li>
          <li>
            <a href="/content/js3" class="btn btn-light">3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>