<div class="class-change row text-center">
  <div class="col-sm-4">
    <a href="/content/html1" id="buttonClassHTML" class="btn btn-primary btn-lg">Learn HTML</a>
  </div>
  <div class="col-sm-4">
    <a href="/content/css1" id="buttonClassCSS" class="btn btn-primary btn-lg">Learn CSS</a>
  </div>
  <div class="col-sm-4">
    <a href="/content/js1" id="buttonClassJavascript" class="btn btn-primary btn-lg">Learn
      Javascript</a>
  </div>
</div>