<div class="upper" id="content">
  <div class="container-fluid">
    <div class="row text-center padding">
      <div class="col-md-12 selection-item item-content">
        <h1 class="text-center">Praktik HTML</h1>
        <div class="main-content card text-justify">
          <p>
            Setelah menonton penjelasan dari tag tag HTML yang telah
            dijelaskan oleh Mosh Hamedani, bagaimana kalau kita sekarang
            langsung melakukan praktik membuat sebuah website portofolio
            yang tentu saja lebih kompleks daripada apa yang telah
            dijelaskan oleh Mosh Hamedani. Apakah kamu tertarik ?
          </p>
          <p>
            Disini saya sudah menyertakan rekomendasi website portofolio
            yang dibuat dengan menggunakan HTML dan CSS serta Javascript
            untuk melakukan operasi interaktif terhadap tombol - tombol
            yang digunakan. "Loh ? kok sebelumnya hanya belajar HTML
            sekarang bertemu dengan CSS dan Javascript ?" Kira-kira itulah
            yang ada di benak teman - teman kan ? <i>No Worries</i>,
            karena untuk pembelajaran ini kita hanya akan fokus kepada
            bagian HTMLnya saja. Tentu saja untuk bagian CSS dan
            Javascript dapat kamu pelajari secara otodidak jika kamu
            tertarik.
          </p>
          <h2 class="text-center">
            Website Project By
            <a href="https://www.youtube.com/channel/UCdxaLo9ALJgXgOUDURRPGiQ/videos" target="_blank">WEB CIFAR 2021</a>
          </h2>
          <figure>
            <iframe class="content" height="100%" src="https://www.youtube.com/embed/ZFQkb26UD1Y"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </figure>
          <p>
            WEB CIFAR adalah tim yang terdiri dari beberapa orang kreatif
            yang membuat situs web dengan penuh semangat. Mereka memiliki
            klien di seluruh dunia dan bekerja dengan lebih dari 50+ klien
            dan telah menyelesaikan 70+ proyek. Biarkan kami membantu Anda
            membuat situs web impian Anda dan membantu Anda mengembangkan
            bisnis menggunakan pengalaman kami.
          </p>
          <h2 class="text-center">
            Website Project By
            <a href="https://www.youtube.com/c/DailyTuition/videos" target="_blank">Daily Tuition</a>
          </h2>
          <figure>
            <iframe class="content" height="100%" src="https://www.youtube.com/embed/CrSC1ZA9j0M"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </figure>
          <p>
            Daily Tuition membuat beberapa Desain Situs Web yang
            Menakjubkan. Mereka mendesain sebagian besar tutorial situs
            web. Kamu juga bisa mempelajari bahasa pemrogramana lain
            disini akan Belajar Bahasa Wordpress, Asp.net, HTML, CSS,
            Javascript, Jquery dan PHP.
          </p>
          <div class="tips">
            <h2>Tips & Trik</h2>
            <p>
              Jika melihat pembuatan project website secara langsung
              tampak sulit maka kamu bisa mencoba melihat deskripsi pada
              halaman video di YouTube, lalu melakukan fork pada
              Repository GitHub yang terlampir.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 selection-item item-number">
        <ul class="no-bullets">
          <li>
            <a href="/content/html1" class="btn btn-light">1</a>
          </li>
          <li>
            <a href="/content/html2" class="btn btn-light">2</a>
          </li>
          <li>
            <a href="/content/html3" class="btn btn-light">3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>